{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Reservations by phone number" %}
{% endblock%}

{% block main %}
<div class="pagetitle">
  <h1>{% trans "Reservations by phone number" %}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'main_app:top' %}">{% trans "Top" %}</a></li>
      <li class="breadcrumb-item">{% trans "Reservations by phone number" %}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section min-vh-100 d-flex flex-column align-items-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 flex-column align-items-center">

        <div class="card mb-3">

          <div class="card-body">

            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">{% trans "Reservations by phone number" %}</h5>
              <p class="text-center small">{% trans "Please enter your store's phone number" %}</p>
            </div>

            <form class="row g-3 needs-validation justify-content-center" method="POST">
              {% csrf_token %}
              <div class="col-11 px-2">
                <p>
                  <label for="id_tel" class="form-label">{% trans "Phone number" %}</label>
                  <input type="tel" name="tel" pattern="[\d]*" maxlength="11" minlength="7" class="form-control" placeholder="{% trans 'Enter the phone number of the restaurant you wish to reserve' %}" id="id_tel" required>
                </p>
                <p>
                  <label for="id_reservation_datetime">{% trans "Reservation Time" %}</label>
                  <input type="datetime-local" name="reservation_datetime" class="form-control" id="id_reservation_datetime" required>
                </p>
                <p>
                  <label for="id_num_people">{% trans "Number of Reserved People" %}</label>
                  <input type="number" name="num_people" min="0" class="form-control" placeholder="{% trans 'Please enter numbers only' %}" required id="id_num_people">
                </p>
                <p>
                  <label for="id_representative_name">{% trans "Name of Representative" %}</label>
                  <input type="text" name="representative_name" maxlength="100" class="form-control" placeholder="{% trans 'Please enter the name of the representative' %}" required id="id_representative_name">
                </p>
                <p>
                  <label for="id_memo">{% trans "Memo" %}</label>
                  <textarea name="memo" cols="40" rows="10" class="form-control" placeholder="{% trans 'Please enter any requests you have for the store' %}" id="id_memo"></textarea>
                </p>
              </div>

              <div class="col-8 d-flex flex-column align-items-center py-2">
                <button class="btn btn-primary w-100" type="submit">{% trans "Make a reservation" %}</button>
              </div>
            </form>

          </div>
        </div>
        
      </div>
    </div>
  </div>

</section>
{% endblock %}