{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Make a reservation" %}
{% endblock %}

{% block main %}
<div class="pagetitle">
  <h1>{% trans "Make a reservation" %}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'main_app:top' %}">{% trans "Top" %}</a></li>
      <li class="breadcrumb-item active">{% trans "Make a reservation" %}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section min-vh-100 d-flex flex-column align-items-center py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ shop.name }}</h5>
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for img in shop.img_list %}
                  {% if forloop.first %}
                  <div class="carousel-item active">
                  {% else %}
                  <div class="carousel-item">
                  {% endif %}
                    <img src={{ img }} class="d-block mx-auto" style="height: 30vh; width: auto;">
                  </div>
                  {% endfor %}
                </div>
    
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
    
              </div><!-- End Slides with controls -->

            </div>
          </div>
        </div>

       

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body m-4 mt-5">
              <h5>{% trans "Category" %}</h5>
              <p class="card-text"><i class="bi bi-shop"></i> {{ shop.type }}</p>
              <h5>{% trans "Business Hours" %}</h5>
              <p class="card-text">{{ shop.open|linebreaksbr }}</p>
              <h5>{% trans "Address" %}</h5>
              <p class="card-text"><i class="bi bi-pin-map-fill"></i> {{ shop.address }}</p>
              <h5>{% trans "Phone number" %}</h5>
              <p class="card-text"><i class="bi bi-telephone-fill"></i> {{ shop.tel_number }}</p>
            
            </div>
          </div>

        </div>

        <div class="col-lg-6">
  
          <div class="card mb-3">
            <div class="card-body">
              <form class="row g-3 needs-validation justify-content-center" method="POST">
                <div class="col-10">
                  {% csrf_token %}
                    <h5 class="card-title text-center mt-3 fs-4">{% trans "Reservation Information Entry" %}</h5>
                    <div class="mt-md-4">
                      {{ form.as_p }}
                    </div>
                </div>
  
                <div class="col-10 d-flex flex-column align-items-center py-2">
                  {% if not shop.test %}
                  <p class="text-danger">{% trans "Due to the fact that the beta test is in progress, no transmissions can be made outside of the test store." %}</p>
                  <button class="btn btn-primary w-100" type="submit" disabled>{% trans "Make a reservation" %}</button>
                  {% elif shop.tel_number %}
                  <button class="btn btn-primary w-100" type="submit">{% trans "Make a reservation" %}</button>
                  {% else %}
                  <p class="text-danger">{% trans "You cannot make a reservation through Tely because your phone number is not registered." %}</p>
                  <button class="btn btn-primary w-100" type="submit" disabled>{% trans "Make a reservation" %}</button>
                  {% endif%}
                </div>
              </form>
  
            </div>
          </div>
          
        </div>
      </div>
    </div>
  
  </section>
{% endblock %}
