{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Reservation Completed" %}
{% endblock%}

{% block main %}
<div class="pagetitle">
  <h1>{% trans "Make a reservation" %}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'main_app:top' %}">{% trans "Top" %}</a></li>
      <li class="breadcrumb-item">{% trans "Make a reservation" %}</li>
      <li class="breadcrumb-item active">{% trans "Reservation Completed" %}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section min-vh-100 d-flex flex-column align-items-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 flex-column align-items-center">

        <div class="card mb-3">

          <div class="card-body">

            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">{% trans "Reservation has been completed." %}</h5>
              <p class="text-center small"></p>
            </div>

            <div class="row g-3 needs-validation justify-content-center">
              <div class="col-8 d-flex flex-column align-items-center py-2">
                <a href="{% url 'main_app:reservation_list' %}" class="btn btn-primary w-100">{% trans "View Reservation Status" %}</a>
              </div>
            </div>

          </div>
        </div>
        
      </div>
    </div>
  </div>

</section>
{% endblock %}