{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Search for stores" %} - {{ shop.name }}
{% endblock %}

{% block main %}
<div class="pagetitle">
  <h1>{{ shop.name }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href={% url 'main_app:top' %}>{% trans "Top" %}</a></li>
      <li class="breadcrumb-item">{% trans "Search for stores" %}</li>
      <li class="breadcrumb-item active">{{ shop.name }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>

          <!-- Slides with controls -->
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% if shop.img_list%}
              {% for img in shop.img_list %}
              {% if forloop.first %}
              <div class="carousel-item active">
              {% else %}
              <div class="carousel-item">
              {% endif %}
                <img src="{{ img }}" class="d-block w-100" style="height: 30vh; width: auto;">
              </div>
              {% endfor %}
              {% else %}
              <div class="carousel-item active">
                <img src="{% static 'img/logo.png' %}" class="d-block w-100" style="height: 30vh; width: auto;">
              </div>
              {% endif %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div><!-- End Slides with controls -->

        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ shop.name }}</h5>
          <h5>{% trans "Category" %}</h5>
          <p class="card-text"><i class="bi bi-shop"></i> {{ shop.type }}</p>
          <h5>{% trans "Business Hours" %}</h5>
          <p class="card-text">{{ shop.open|linebreaksbr }}</p>
          <h5>{% trans "Address" %}</h5>
          <p class="card-text"><i class="bi bi-pin-map-fill"></i> {{ shop.address }}</p>
          <h5>{% trans "Phone number" %}</h5>
          <p class="card-text"><i class="bi bi-telephone-fill"></i> {{ shop.tel_number }}</p>
          
          <p class="card-text">
            {% if shop.tel_number %}
            <a href="{{ shop.add_url }}" class="btn btn-primary">{% trans "Make a reservation" %}</a>
            {% comment %} <p class="text-danger">{% trans "Due to the fact that the beta test is in progress, no transmissions can be made outside of the test store." %}</p>
            <a href="{{ shop.add_url }}" class="btn btn-primary disabled">{% trans "Make a reservation" %}</a> {% endcomment %}
            {% else %}
            <p class="text-danger">{% trans "You cannot make a reservation through Tely because your phone number is not registered." %}</p>
            <a href="{{ shop.add_url }}" class="btn btn-primary disabled">{% trans "Make a reservation" %}</a>
            {% endif%}
          </p>
        
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}