{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<style>
  .masonry-container {
    column-count: 1;
    column-gap: 1em;
  }

  @media (min-width: 768px) { /* タブレットサイズ */
    .masonry-container {
      column-count: 2;
    }
  }

  @media (min-width: 992px) { /* デスクトップサイズ */
    .masonry-container {
      column-count: 3;
    }
  }

  .masonry-container .card {
    break-inside: avoid;
    margin-bottom: 1em;
  }
</style>
{% endblock %}

{% block title %}
{% trans "Search for stores" %}
{% endblock %}

{% block main %}
<div class="pagetitle">
  <h1>{% trans "Search for stores" %}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href={% url 'main_app:top' %}>{% trans "Top" %}</a></li>
      <li class="breadcrumb-item active">{% trans "Search for stores" %}</li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-12">
      <form method="GET">
        {% csrf_token %}
        <div class="row mb-3 justify-content-center">
          <div class="col-8 col-lg-6">
            <input type="text" name="keywords" class="form-control" placeholder="{% trans 'Enter keywords' %}" value={{ keywords }}>
          </div>
          <button class="col-lg-2 col-3 btn btn-primary" type="submit"><i class="bi bi-search me-1"></i> {% trans "Search" %}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="masonry-container">
    {% for shop in shop_list %}
    <div class="card mb-3">
      {% if shop.img %}
        <img src="{{ shop.img }}" class="card-img-top" alt="Shop Image">
      {% else %}
      <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Shop Image">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"><a href="{{ shop.detail_url }}" class="card-link">{{shop.name}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {% if shop.open is True %}
          <p class="text-success">{% trans "Open" %}</p>
          {% else %}
          <p class="text-danger">{% trans "After Hours" %}</p>
          {% endif %}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-shop"></i> {{ shop.type }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">
          {% trans "Rating" %}<i class="bi bi-star"></i> :
          {{ shop.rating }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          {% trans "Price Level" %}<i class="bi bi-currency-yen"></i> : 
          {% if shop.price_level == 0 %}
          {% trans "Free" %}
          {% elif shop.price_level == 1 %}
          {% trans "Low" %}
          {% elif shop.price_level == 2 %}
          {% trans "Medium" %}
          {% elif shop.price_level == 3 %}
          {% trans "High" %}
          {% elif shop.price_level == 4 %}
          {% trans "Very Expensive" %}
          {% else %}
          {% trans "No information" %}
          {% endif %}
        </h6>

        <p class="card-text"><a href="{{ shop.add_url }}" class="btn btn-primary">{% trans "Make a reservation" %}</a></p>
        <a href="{{ shop.detail_url }}" class="card-link">{% trans "Details." %}</a>
      </div>

    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}