{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
Top Page
{% endblock%}

{% block main %}
<div class="pagetitle">
  <h1>Dashboard</h1>  
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">お知らせ</h5>
          
          <!-- List group with active and disabled items -->
          <ul class="list-group list-group-flush">
            {% for notice in notices %}
            <li class="list-group-item">
              <a href="{% url 'main_app:notice_detail' notice.id %}" style="text-decoration:none;">{{ notice.datetime }} - {{ notice.title }}</a>
            </li>
            {% endfor%}
          </ul><!-- End Clean list group -->

        </div>
      </div>
    </div>

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        {% comment %} <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Sales <span>| Today</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                  <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Revenue <span>| This Month</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                  <h6>$3,264</h6>
                  <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">

          <div class="card info-card customers-card">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Customers <span>| This Year</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>1244</h6>
                  <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                </div>
              </div>

            </div>
          </div>

        </div><!-- End Customers Card --> {% endcomment %}

        {% comment %} <!-- Top Selling -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Top Selling <span>| Today</span></h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Preview</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sold</th>
                    <th scope="col">Revenue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><a href="#"><img src="{% static 'img/product-1.jpg' %}" alt=""></a></th>
                    <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                    <td>$64</td>
                    <td class="fw-bold">124</td>
                    <td>$5,828</td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#"><img src="{% static 'img/product-2.jpg' %}" alt=""></a></th>
                    <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                    <td>$46</td>
                    <td class="fw-bold">98</td>
                    <td>$4,508</td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#"><img src="{% static 'img/product-3.jpg' %}" alt=""></a></th>
                    <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                    <td>$59</td>
                    <td class="fw-bold">74</td>
                    <td>$4,366</td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#"><img src="{% static 'img/product-4.jpg' %}" alt=""></a></th>
                    <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                    <td>$32</td>
                    <td class="fw-bold">63</td>
                    <td>$2,016</td>
                  </tr>
                  <tr>
                    <th scope="row"><a href="#"><img src="{% static 'img/product-5.jpg' %}" alt=""></a></th>
                    <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                    <td>$79</td>
                    <td class="fw-bold">41</td>
                    <td>$3,239</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div><!-- End Top Selling --> {% endcomment %}

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="bi bi-shop"></i> おすすめのお店 <span>| Today</span></h5>

              <div id="carouselTopShopInfo" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  {% for stores_inner in stores_info %}
                  {% if forloop.first %}
                  <button type="button" data-bs-target="#carouselTopShopInfo" data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                  {% else %}
                  <button type="button" data-bs-target="#carouselTopShopInfo" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter }}"></button>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="carousel-inner">
                  {% for stores_inner in stores_info %}
                  {% if forloop.first %}
                  <div class="carousel-item active" data-bs-interval="4000">
                  {% else %}
                  <div class="carousel-item" data-bs-interval="4000">
                  {% endif %}
                    <div class="row justify-content-center">
                      {% for store in stores_inner %}
                      <div class="col-5">
                        <div class="card">
                          {% if store.photo %}
                            <img src="{{ store.photo }}" class="card-img-top d-block w-100 shop-img" alt="Shop Image" style="height: 30vh; width: auto;" onerror="this.src='{% static "img/logo.png" %}'; this.removeAttribute('onerror'); this.removeAttribute('onload');" onload="this.removeAttribute('onerror'); this.removeAttribute('onload');">
                          {% else %}
                            <img src="{% static 'img/logo.png' %}" class="card-img-top d-block w-100 shop-img" alt="Shop Image" style="height: 30vh; width: auto;">
                          {% endif %}
                          <div class="card-body">
                            <h5 class="card-title"><a href="{{ store.detail_url }}" class="card-link">{{ store.name }}</a></h5>
              
                            <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-shop"></i> {{ store.type }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">
                              評価<i class="bi bi-star"></i> :
                              {{ store.rating }}
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted">
                              価格帯<i class="bi bi-currency-yen"></i> : 
                              {% if store.price_level == 0 %}
                              無料
                              {% elif store.price_level == 1 %}
                              安価
                              {% elif store.price_level == 2 %}
                              中程度
                              {% elif store.price_level == 3 %}
                              高価
                              {% elif store.price_level == 4 %}
                              非常に高価
                              {% else %}
                              情報なし
                              {% endif %}
                            </h6>

                            <p class="card-text"><a href="{{ store.add_url }}" class="btn btn-primary">予約する</a></p>
                            <a href="{{ store.detail_url }}" class="card-link">詳細を見る</a>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>

                  </div>
                  {% endfor %}
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselTopShopInfo" data-bs-slide="prev" style="width:5%;">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselTopShopInfo" data-bs-slide="next" style="width:5%;">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4 d-flex">

      <!-- Recent Activity -->
      <div class="card flex-fill">
        <div class="card-body">
          <h5 class="card-title">
            最新の予約状況<br>
            {% if reservation_title %}
              <span><a href="{% url 'main_app:reservation_detail' reservation_id %}">{{ reservation_title }}</a></span>
            {% else %}
            {% endif %}
          </h5>
          {% if reservation_title %}
          <div class="activity">
            {% for state in reservation_detail_items %}
            <div class="activity-item d-flex">
              <div class="activite-label"></div>
              {% if state.status == 0 %}
              <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
              {% elif state.status == 1 %}
              <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
              {% elif state.status == 2 %}
              <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
              {% elif state.status == 3 %}
              <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
              {% elif state.status == 4 %}
              <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
              {% elif state.status == 5 %}
              <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
              {% elif state.status == 6 %}
              <i class='bi bi-circle-fill activity-badge text-primary align-self-end'></i>
              {% elif state.status == 7 %}
              <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
              {% elif state.status == 8 %}
              <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
              {% else %}
              <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
              {% endif %}
              
              <div class="activity-content">
                <h6>{{ state.title }}</h6>
                {{ state.message }}
                <br>
                <span class="text-muted small pt-2 ps-1">{{ state.datetime }}</span>
              </div>
            </div><!-- End activity item-->
            {% endfor %}
          </div>
          {% else %}
          <p class="p-5 text-center">予約情報がありません</p>
          {% endif %}

        </div>
      </div><!-- End Recent Activity -->

    </div><!-- End Right side columns -->

    <!-- Recent Sales -->
    {% comment %} <div class="col-12">
      <div class="card recent-sales overflow-auto">

        <div class="card-body">
          <h5 class="card-title">過去に予約したお店</h5>

          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="#">#2457</a></th>
                <td>Brandon Jacob</td>
                <td><a href="#" class="text-primary">At praesentium minu</a></td>
                <td>$64</td>
                <td><span class="badge bg-success">Approved</span></td>
              </tr>
              <tr>
                <th scope="row"><a href="#">#2147</a></th>
                <td>Bridie Kessler</td>
                <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                <td>$47</td>
                <td><span class="badge bg-warning">Pending</span></td>
              </tr>
              <tr>
                <th scope="row"><a href="#">#2049</a></th>
                <td>Ashleigh Langosh</td>
                <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                <td>$147</td>
                <td><span class="badge bg-success">Approved</span></td>
              </tr>
              <tr>
                <th scope="row"><a href="#">#2644</a></th>
                <td>Angus Grady</td>
                <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                <td>$67</td>
                <td><span class="badge bg-danger">Rejected</span></td>
              </tr>
              <tr>
                <th scope="row"><a href="#">#2644</a></th>
                <td>Raheem Lehner</td>
                <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                <td>$165</td>
                <td><span class="badge bg-success">Approved</span></td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div><!-- End Recent Sales --> {% endcomment %}

  </div>
</section>
{% endblock %}
