{% extends 'main_app/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% if request.LANGUAGE_CODE == 'en' %}
{% trans 'Notification' %} - {{ title_en }}
{% else %}
{% trans 'Notification' %} - {{ title_ja }}
{% endif %}
{% endblock %}

{% block main %}
<div class="pagetitle">
    <h1>{{ title }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={% url 'main_app:top' %}>{% trans 'Top' %}</a></li>
        <li class="breadcrumb-item">{% trans 'Notification' %}</li>
        {% if request.LANGUAGE_CODE == 'en' %}
        <li class="breadcrumb-item active">{{ object.title_en }}</li>
        {% else %}
        <li class="breadcrumb-item active">{{ object.title_ja }}</li>
        {% endif %}
      </ol>
    </nav>
  </div>
</div>

<section class="section min-vh-100">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>

        <div class="d-flex align-items-start pb-3">
          <div class="nav flex-column nav-pills me-3">
            {% for item in menu %}
            {% if item.id == object.id%}
            {% if request.LANGUAGE_CODE == 'en' %}
            <a href="{% url 'main_app:notice_detail' item.id %}" class="nav-link active">{{ item.title_en }}</a>
            {% else %}
            <a href="{% url 'main_app:notice_detail' item.id %}" class="nav-link active">{{ item.title_ja }}</a>
            {% endif %}
            {% else %}
            {% if request.LANGUAGE_CODE == 'en' %}
            <a href="{% url 'main_app:notice_detail' item.id %}" class="nav-link">{{ item.title_en }}</a>
            {% else %}
            <a href="{% url 'main_app:notice_detail' item.id %}" class="nav-link">{{ item.title_ja }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
          <div class="tab-content px-2">
            <div class="tab-pane fade show active">
              {% if request.LANGUAGE_CODE == 'en' %}
              {{ object.message_en|linebreaksbr }}
              {% else %}
              {{ object.message_ja|linebreaksbr }}
              {% endif %}
              <br>
              {{ object.datetime}}
            </div>
          </div>
        </div>

      </div>
    </div>
</section>
{% endblock %}