{% extends 'main_app/register/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Register an account" %}
{% endblock%}

{% block main %}
<div class="container">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <a href="{% url 'main_app:login' %}" class="logo d-flex align-items-center w-auto">
              <img src="{% static 'img/logo.png' %}" alt="">
              <span class="d-none d-lg-block">Tely</span>
            </a>
          </div><!-- End Logo -->

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">{% trans "Create a new account" %}</h5>
                <p class="text-center small">{% trans "Please fill in the required fields" %}</p>
              </div>

              <form class="row g-3 needs-validation" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="col-12">
                  <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                  <div class="input-group has-validation">
                    {{ field }}
                  </div>
                  
                  {% if field.errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
                {% endfor %}
                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">{% trans "Create a new account" %}</button>
                </div>
                <div class="col-12">
                  <p class="small mb-0"><a href="{% url 'main_app:login' %}">{% trans "Go to login page" %}</a></p>
                </div>
              </form>
            </div>
          </div>

          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>

        </div>
      </div>
    </div>

  </section>

</div>
{% endblock %}