{% extends 'main_app/register/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Register an account" %} - {% trans "E-mail transmission complete" %}
{% endblock%}

{% block main %}
<div class="container">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <a href="{% url 'main_app:login' %}" class="logo d-flex align-items-center w-auto">
              <img src="{% static 'img/logo.png' %}" alt="">
              <span class="d-none d-lg-block">Tely</span>
            </a>
          </div><!-- End Logo -->
          
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">{% trans "Please check your e-mail" %}</h5>
                <p class="text-center small">{% trans "Authentication email has been sent. Please check your e-mail." %}</p>
                <p class="text-center small">{% trans "If you do not receive the email, please check to see if it is in your junk mail." %}</p>
              </div>

              

              <form class="row g-3 needs-validation" name="form1" method="POST">
                {% csrf_token %}
                <div class="col-12">
                  <a href="{% url 'main_app:login' %}" class="btn btn-primary w-100" type="submit">{% trans "Go to login page" %}</a>
                </div>
                <div class="col-12">
                  <p class="small mb-0"><a href="javascript:form1.submit()">{% trans "Resend email" %}</a></p>
                </div>
              </form>

            </div>
          </div>

          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>

        </div>
      </div>
    </div>

  </section>

</div>
{% endblock %}